Binaries
DerivedDataCache
Intermediate
/Saved
.vscode
.vs
/Content
/Platforms
/Saved
/Source
/Config
SubtitlePlugin.uproject
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.vsconfig